body {
  background: url(images/bg-mobile.svg) no-repeat hsl(257, 40%, 49%);
  margin: auto;
  padding: 2.1rem;
}
main {
  text-align: center;
  color: white;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}
span {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.6rem;
}
header {
  margin-bottom: 3rem;
}
nav {
  margin-bottom: 3rem;
}
.fb {
  margin-right: 0.7rem;
}
.twitter {
  margin-right: 0.7rem;
}
.content {
  margin-top: 4rem;
  line-height: 1rem;
}
.content button {
  padding: 0.6rem 4.1rem;
  font-family: "Poppins", sans-serif;
  color: hsl(257, 40%, 49%);
  border-radius: 1.25rem;
  border-style: none;
  margin-top: 0.8rem;
  margin-bottom: 4.5rem;
}
header img {
  width: 8rem;
}
.mockups img {
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: black;
}

@media (min-width: 1000px) {
  body {
    padding: 2.3rem 6rem;
    background: url(images/bg-desktop.svg) no-repeat hsl(257, 40%, 49%);
  }
  main {
    display: flex;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: 4rem;
  }
  nav {
    margin-top: 8rem;
    align-self: flex-end;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.3rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.65rem;
  }
  button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    transition: ease-in 1ms;
  }
  span:hover {
    transition: ease-in 1ms;
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    cursor: pointer;
  }
  .mockups {
    width: 113rem;
    position: relative;
    top: 2.7rem;
  }
  header img {
    width: 12rem;
    margin-top: 0.8rem;
  }
  .content {
    text-align: left;
    margin-left: 3rem;
  }
}
